@import "/src/styles/mixins";
@import "/src/styles/root";
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 13.75rem;
}
.label {
  @extend %flexbox;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 13.75rem;
  border-radius: 50%;
  background-color: $lightest;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: $gen;
  }
}

.text {
  @extend %link;
  margin-top: 1.25rem;
  font-family: $font-service--bold;
  cursor: pointer;
}

.input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
}