@import '/src/styles/root.scss';

.btn {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    color: $lighten;
    transition: color 0.3s;
    font-family: $font-main;
    &:hover {
       color: $gen;
    }
 
    &::after {
       content: "";
       position: absolute;
       bottom: -1.3125rem;
       left: 0;
       width: 100%;
       height: 1px;
       background-color: $gen;
       opacity: 0;
       transition: opacity 0.3s;
    }
 
    &:not(:last-child) {
       margin-right: 3.25rem;
    }
 
    &.active {
       color: $gen;
 
       &::after {
          opacity: 1;
       }
    }
    &.small {
       text-transform: none;
        &::after {
            display: none;
        }
    }
 }