@import '/src/styles/root';

.container {
    display: flex;
}
.preview {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}


.mini {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    cursor: pointer;
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.active {
    border: 2px solid $gen;
}

.main {
    width: 33.125rem;
    height: 33.125rem;
    object-fit: cover;
    object-position: top;
}

@media (max-width: $landscape) {
    .main {
        width: 400px;
        height: 554px;
    }
    .preview {
        margin-right: 20px;
    }
    .mini {
        width: 69px;
        height: 69px;
        &:not(:first-child) {
            margin-top: 0;
        }
    }
}

@media (max-width: $tablet) {
    .main {
        width: 250px;
        height: 320px;
    }
    .block {
        width: 45%;
    }
}