@import "/src/styles/mixins.scss";
@import "/src/styles/root.scss";

.subcategories {
   @extend %flexbox;
   justify-content: center;
   margin-top: 3.125rem;
}



.body {
   @extend %flexbox;
   border-left: 1px solid rgba($gen, 0.3);
   border-top: 1px solid rgba($gen, 0.3);
   flex-wrap: wrap;
   margin-top: 3.125rem;
}
