@import "/src/styles/mixins";
.wrapper {
  margin-top: 1.875rem;
}
.phone {
  width: 17.5rem;
}

.submit {
  @extend %button--green;
  margin-top: 3.125rem;
  height: 4rem;
  font-size: 1.125rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.label {
  width: 100%;
  margin-bottom: 0.625rem;
  font-family: $font-service;
}