@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.header {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
   color: $gen;
}

.container {
   @extend %flexbox;
   justify-content: space-between;
   height: 5rem;
   border-bottom: 1px solid rgba($gen, 0.3);
}

.nav {
   @extend %flexbox;
   justify-content: space-between;
   width: calc(100% - 6.5rem);
}

.link {
   @extend %button--decorate;
   @extend %underline;
   font-size: 0.75rem;
   &::after {
      bottom: -0.5rem;
      background-color: $gen;
   }
}

.logo {
   @extend %flexbox;
   justify-content: center;
   width: 42%;
   margin-left: 8%;
   path {
      fill: $gen;
   }
}
.block {
   @extend %flexbox;
}

.control {
   @extend %flexbox;
   margin-left: 2.875rem;
}

.button {
   @extend %button--circle;
   &:not(:first-of-type) {
      margin-left: 1rem;
      &:hover{
         path, rect {
            stroke: inherit;
         }
      }
   }


}
.cardIcon {
   path {
      fill: $gen;
   }
   &__accent {
      path {
         fill: $accent;
      }
   }

}
.favIcon {
   path,
   rect {
      stroke: $gen;
   }
   &__accent {
      path,
      rect {
         stroke: $accent;
      }
   }
}
.border_accent {
   border-bottom: 1px solid rgba(#fff, 0.5);
}

.link_accent {
   color: $accent;
   &::after {
      background-color: $accent;
   }
}

.button_accent {
   background-color: rgba($accent, 0.2);
   &:hover {
      background-color: rgba($accent, 0.5);
   }
}

.logo_accent {
   path {
      fill: $accent;
   }
}