@import "/src/styles/root.scss";
@import "/src/styles/mixins.scss";

.container {
   display: flex;
   justify-content: space-between;
}
.block {
  position: sticky;
  top: 1.25rem;
  width: 50%;
  height: fit-content;
}
.properties {
  display: flex;
  margin-top: 1.875rem;
  margin-left: 6.875rem;
}

.column {
  &:first-child {
    margin-right: 4.375rem;
  }
}

.title {
    line-height: 1.1;
}

.statuses {
   display: flex;
   margin-top: 3.125rem;
   span {
      &:not(:first-child) {
         margin-left: 2.1875rem;
      }
   }
}

.info {
   width: 40%;
}

.price {
    display: block;
    margin-top: 3.125rem;
    font-size: 2rem;
    line-height: 1.2;
    font-family: $font-numbers;
}

.nutrients {
  display: flex;
  margin-top: 1.25rem;
}

.about {
    max-width: 85%;
    margin-top: 1.875rem;
    font-family: $font-service;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 0.8;
}

.with {
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-family: $font-service;
    opacity: 0.8;
}

.tastes {
    display: flex;
    span {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        svg {
            height: 50%;
            width: 50%;
        }
    }
}

.description {
    margin-top: 3.125rem;
}

@media (max-width: $landscape) {
  .nutrients {
    flex-wrap: wrap;
  }
  .about {
    max-width: 100%;
  }
  .column {
    &:first-child {
      margin-right: 50px;
    }
  }
  .block {
    width: 55%;
  }
  .statuses {
    margin-top: 30px;
  }
  .price {
    margin-top: 25px;
  }
}

@media (max-width: $tablet) {
  .properties {
    margin-left: 0;
  }
  .block {
    width: 45%;
  }
  .info {
    width: 50%;
  }
}

@media (max-width: $mobile) {
  .container {
    flex-wrap: wrap;
  }
  .block,
  .info {
    width: 100%;
  }
  .block {
    position: static;
  }
  .slide {
    height: 462px;
    object-fit: cover;
  }
  .title {
    margin-top: 23px;
  }
  .statuses {
    margin-top: 20px;
  }
  .properties {
    justify-content: space-between;
  }
  .column {
    width: 55%;
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      width: 40%;
    }
  }
  .nutrients {
    margin-top: 10px;
  }
  .description {
    margin-top: 35px;
  }
}