@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.card {
    width: 100%;
    height: 100%;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid rgba($gen, .3);
}

.image {
    height: 20rem;
    object-fit: cover;
}

.name {
    margin-top: 1.25rem;
}

.text {
    max-width: 75%;
    margin-top: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-family: $font-service;
    color: $lighten;
}

.link {
    @extend %link;
    margin-top: 3.125rem;
}