@import "/src/styles/mixins.scss";
@import "/src/styles/root.scss";

.card {
   position: relative;
   overflow: hidden;
   width: 25%;
   height: 25rem;
   padding: 1.25rem 0.9375rem;
   border: 1px solid rgba($gen, 0.3);
   border-top: none;
   border-left: none;
   &:hover {
      .add {
         right: 1.25rem;
      }

      .info {
         margin-top: -2.9375rem;
         opacity: 0;
         transition: margin-top 0.4s ease-out, opacity 0.1s ease-out;
      }

      .more {
         bottom: 0;
      }
   }
}

.card_slider {
   width: 100%;
   border: none;
}

.add {
   @extend %flexbox;
   justify-content: center;
   position: absolute;
   right: -2.8125rem;
   top: 0.6875rem;
   width: 2.5rem;
   height: 2.5rem;
   border: 1px solid rgba($gen, 0.3);
   border-radius: 50%;
   font-size: 0.875rem;
   color: rgba($gen, 0.3);
   transition: right 400ms ease-out, background-color 0.3s, color 0.3s;
   &:hover {
      background-color: $gen;
      color: $accent;
   }
}

.image,
.name,
.addition,
.weight,
.price {
   display: block;
   text-align: center;
}

.price {
   font-family: $font-numbers;
}

.image {
   max-height: 10rem;
   margin: 0.625rem auto 0 auto;
   object-fit: contain;
}

.name {
   line-height: 1;
   margin-top: 1.625rem;
}

.addition {
   min-height: 1.4375rem;
   margin-top: 0.5rem;
   line-height: 1.3;
   font-family: $font-italic;
}

.info {
   margin-top: 0.8125rem;
   transition: margin-top 0.4s ease-out, opacity 0.6s ease-out;
}

.well {
   display: flex;
   justify-content: center;
   min-height: 1.5625rem;
}

.weight {
   margin-top: 0.625rem;
   font-family: $font-service;
   font-size: 0.875rem;
   line-height: 1.3;
   opacity: 0.4;
}

.more {
   @extend %flexbox;
   @extend %button--decorate;
   justify-content: center;
   position: absolute;
   left: 0;
   bottom: -3.75rem;
   width: 100%;
   height: 3.75rem;
   margin-top: 1.0625rem;
   font-size: 0.875rem;
   color: $accent;
   background-color: $gen;
   transition: bottom 0.4s ease-out;
}
