@import "/src/styles/root.scss";
.tab {
    border-bottom: 1px solid rgba($gen, 0.2);
    &:first-child {
       border-top: 1px solid rgba($gen, 0.2);
   }
}

.trigger {
   position: relative;
   padding: 15px 0;
   cursor: pointer;
   user-select: none;
   &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 13px;
      background-image: url("/static/img/icons/close.svg");
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.3s;
   }
}

.trigger_open {
   &::after {
      transform: translateY(-50%) rotate(45deg);
   }
}

.content {
   max-width: 80%;
   margin-bottom: 0.9375rem;
   font-size: 0.875rem;
   font-family: $font-service;
   opacity: 0.8;
   & > * {
      line-height: 1.4;
   }
}
