@import "/src/styles/mixins";
@import "/src/styles/root";

.button {
  @extend %underline;
  width: fit-content;
  font-family: $font-service;
  font-size: 1.125rem;
  text-transform: none;
  text-align: left;

  &::after {
    background-color: $gen;
  }

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.active {
  &:after {
    width: 100%;
    opacity: 1;
  }
}