.item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('https://co-ko.asap-lp.ru//upload/iblock/275/p0wwircvu0hygw0dy72g38nbfin8cwoi/DSC_5643.JPG');
  opacity: 1;
  transform: scale(1.7);
  transition: transform .1s ease, opacity .2s ease-in-out;
}