<header class="profile__header">
    <h3 class="profile__header-title">Здравствуйте, <span>Сергей</span></h3>
    <div class="profile__row">
        <div class="profile__info">
            <div class="profile__info-item">
                <span class="profile__info-title">Скидка:</span>
                <span class="profile__info-text">5%</span>
            </div>
            <div class="profile__info-item">
                <span class="profile__info-title">Баланс:</span>
                <span class="profile__info-text">320 руб.</span>
            </div>
            <div class="profile__info-item">
                <span class="profile__info-title">Всего покупок:</span>
                <span class="profile__info-text">112</span>
            </div>
            <div class="profile__info-item">
                <span class="profile__info-title">Доставка:</span>
                <span class="profile__info-text">Бесплатно</span>
            </div>
        </div>
        <a class="profile__out" href="#">Выйти</a>
    </div>
</header>
