<header class="profile__controls">
    <div class="profile__tabs">
        <button class="profile__tab">Все</button>
        <button class="profile__tab">Активные</button>
        <button class="profile__tab">Завершенные</button>
    </div>
    <form class="profile__date" action="#">
        <div class="field">
            <label class="label" for="date-start">от</label>
            <input id="date-start" class="input" type="text">
        </div>
        <div class="field">
            <label class="label" for="date-finish">до</label>
            <input id="date-finish" class="input" type="text">
        </div>
        <button class="profile__date-btn" type="submit"><span>Найти по дате</span></button>
    </form>
</header>
