<div class="profile__steps">
    <div class="profile__step">
        <span class="profile__step-num"></span>
        <span class="profile__step-text">Заполните форму заявление</span>
    </div>
    <div class="profile__step">
        <span class="profile__step-num"></span>
        <span class="profile__step-text">Верните товар курьеру или на точку продаж</span>
    </div>
    <div class="profile__step">
        <span class="profile__step-num"></span>
        <span class="profile__step-text">Получите деньги или товар</span>
    </div>
</div>
