<div class="profile__box">
    <header class="profile__box-header">
        <div class="profile__box-grid">
            <span class="profile__box-info"><strong>Номер заказа:</strong> 1234567</span>
            <span class="profile__box-info"><strong>Дата:</strong> 12.04.21</span>
            <span class="profile__box-info"><strong>Статус:</strong> Оплачен</span>
            <span class="profile__box-info"><strong>Товаров:</strong> 2</span>
            <span class="profile__box-info"><strong>Цена:</strong> 2245 руб.</span>
        </div>
        <button class="profile__box-close"></button>
    </header>
    <div class="profile__box-content">
        <h6 class="profile__box-title">Детали заказа</h6>
        <h2>@import "profile-order.html"</h2>
        <h2>@import "profile-order.html"</h2>
    </div>
    <button class="profile__btn">Показать еще +</button>
</div>
