@charset "UTF-8";

.profile__tab,
.profile__order-swap,
.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit,
.profile__back,
.modal,
.status,
.divided,
.radio:checked + .label--radio::before,
.profile__row,
.profile__pic-label,
.profile__box-controls {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: 0.5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #f2f2f2;
  background: #184240;
}

.profile__box-close {
  position: absolute;
  right: 5%;
  top: 3%;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: rgba(24, 66, 64, 0.1);
}

.profile__box-close::after,
.profile__box-close::before {
  transition: background-color 0.3s;
  content: '';
  width: 0.875rem;
  height: 1px;
  background-color: #184240;
  position: absolute;
  top: 50%;
  right: calc(50% - 0.4375rem);
}

.profile__box-close::after {
  transform: rotate(45deg);
}

.profile__box-close::before {
  transform: rotate(135deg);
}

.profile__box-close:hover {
  background-color: #184240;
}

.profile__box-close:hover::after,
.profile__box-close:hover::before {
  background-color: #FFF3E7;
}

/*кнопка меню*/

/*в разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.profile__tab,
.profile__order-swap,
.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit {
  justify-content: center;
  width: fit-content;
  border: 1px solid #FFF3E7;
  font-size: 0.875rem;
}

.profile__tab,
.profile__order-swap {
  min-height: 1.875rem;
  padding: 0 1.25rem;
  border-color: #184240;
  border-radius: 0.9375rem;
  text-transform: uppercase;
}

.profile__tab:hover,
.profile__order-swap:hover,
.active.profile__tab,
.active.profile__order-swap {
  background-color: #184240;
  color: #FFF3E7;
}

.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit {
  background-color: #E3DED2;
  border: 1px solid #E3DED2;
  border-radius: 2.25rem;
  height: 4rem;
  width: 16.875rem;
  color: #184240;
  letter-spacing: 0.54px;
}

.profile__form-submit:hover,
.profile__address:hover,
.profile__date-btn:hover,
.profile__order-repeat:hover,
.profile__submit:hover {
  border-color: transparent;
  background-color: #184240;
  color: #FFF3E7;
}

.profile__out,
.profile__btn,
.profile__pic-text,
.profile__date-btn > span,
.profile__order-delete,
.profile__loyalty-link {
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  letter-spacing: 0.28px;
}

.profile__out::after,
.profile__btn::after,
.profile__pic-text::after,
.profile__date-btn > span::after,
.profile__order-delete::after,
.profile__loyalty-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #184240;
  transition: bottom 0.3s;
}

.profile__out:hover::after,
.profile__btn:hover::after,
.profile__pic-text:hover::after,
.profile__date-btn > span:hover::after,
.profile__order-delete:hover::after,
.profile__loyalty-link:hover::after {
  bottom: -5px;
}

.profile__link {
  position: relative;
}

.profile__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 0;
  height: 1px;
  opacity: 0;
  background-color: #FFF3E7;
  transition: width 0.3s, opacity 0.3s;
}

.profile__link:hover::after {
  width: 100%;
  opacity: 1;
}

.profile__back {
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(24, 66, 64, 0.1);
}

.profile__back:hover {
  background-color: #184240;
}

.profile__back:hover path,
.profile__back:hover rect {
  stroke: #FFF3E7;
}

.profile__back:hover path,
.profile__back:hover rect {
  fill: #FFF3E7;
  stroke: transparent;
}

.profile__tab,
.profile__order-swap,
.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit,
.profile__back,
.modal,
.status,
.divided,
.radio:checked + .label--radio::before,
.profile__row,
.profile__pic-label,
.profile__box-controls {
  display: flex;
  align-items: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: 0.5%;
  min-width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-left: 1px solid #f2f2f2;
  background: #184240;
}

.profile__box-close {
  position: absolute;
  right: 5%;
  top: 3%;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: rgba(24, 66, 64, 0.1);
}

.profile__box-close::after,
.profile__box-close::before {
  transition: background-color 0.3s;
  content: '';
  width: 0.875rem;
  height: 1px;
  background-color: #184240;
  position: absolute;
  top: 50%;
  right: calc(50% - 0.4375rem);
}

.profile__box-close::after {
  transform: rotate(45deg);
}

.profile__box-close::before {
  transform: rotate(135deg);
}

.profile__box-close:hover {
  background-color: #184240;
}

.profile__box-close:hover::after,
.profile__box-close:hover::before {
  background-color: #FFF3E7;
}

/*кнопка меню*/

/*в разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.profile__tab,
.profile__order-swap,
.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit {
  justify-content: center;
  width: fit-content;
  border: 1px solid #FFF3E7;
  font-size: 0.875rem;
}

.profile__tab,
.profile__order-swap {
  min-height: 1.875rem;
  padding: 0 1.25rem;
  border-color: #184240;
  border-radius: 0.9375rem;
  text-transform: uppercase;
}

.profile__tab:hover,
.profile__order-swap:hover,
.active.profile__tab,
.active.profile__order-swap {
  background-color: #184240;
  color: #FFF3E7;
}

.profile__form-submit,
.profile__address,
.profile__date-btn,
.profile__order-repeat,
.profile__submit {
  background-color: #E3DED2;
  border: 1px solid #E3DED2;
  border-radius: 2.25rem;
  height: 4rem;
  width: 16.875rem;
  color: #184240;
  letter-spacing: 0.54px;
}

.profile__form-submit:hover,
.profile__address:hover,
.profile__date-btn:hover,
.profile__order-repeat:hover,
.profile__submit:hover {
  border-color: transparent;
  background-color: #184240;
  color: #FFF3E7;
}

.profile__out,
.profile__btn,
.profile__pic-text,
.profile__date-btn > span,
.profile__order-delete,
.profile__loyalty-link {
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  letter-spacing: 0.28px;
}

.profile__out::after,
.profile__btn::after,
.profile__pic-text::after,
.profile__date-btn > span::after,
.profile__order-delete::after,
.profile__loyalty-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #184240;
  transition: bottom 0.3s;
}

.profile__out:hover::after,
.profile__btn:hover::after,
.profile__pic-text:hover::after,
.profile__date-btn > span:hover::after,
.profile__order-delete:hover::after,
.profile__loyalty-link:hover::after {
  bottom: -5px;
}

.profile__link {
  position: relative;
}

.profile__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 0;
  height: 1px;
  opacity: 0;
  background-color: #FFF3E7;
  transition: width 0.3s, opacity 0.3s;
}

.profile__link:hover::after {
  width: 100%;
  opacity: 1;
}

.profile__back {
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(24, 66, 64, 0.1);
}

.profile__back:hover {
  background-color: #184240;
}

.profile__back:hover path,
.profile__back:hover rect {
  stroke: #FFF3E7;
}

.profile__back:hover path,
.profile__back:hover rect {
  fill: #FFF3E7;
  stroke: transparent;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair", "serif";
  cursor: default;
  background-color: #FFF3E7;
  color: #184240;
}

section {
  position: relative;
}

ul {
  list-style: none;
}

a {
  color: #184240;
  display: inline-block;
  text-decoration: none;
}

svg {
  min-height: 1rem;
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Playfair", "serif";
  border: none;
  background: none;
  outline: none;
}

textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: 0.7;
}

a {
  transition: color .3s, background-color .3s, border-color .3s;
}

button {
  font-family: "Roboto", "sans-serif";
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

p {
  line-height: 1.3;
}

path,
rect {
  transition: fill 0.3s, stroke 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  width: 100%;
}

h1 {
  font-size: 4rem;
  line-height: 4.375rem;
  font-weight: normal;
}

h2 {
  font-size: 2.25rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

h6 {
  font-size: 1.125rem;
  font-weight: normal;
}

section:not(:first-of-type) {
  margin-top: 7.5rem;
}

.slider_border.swiper-container {
  padding-left: 1px;
}

.main {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}

.wrapper {
  width: calc(100% - 120px);
  margin: 0 auto;
  max-width: 1320px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin: 5rem 0 7.5rem 0;
}

.title--profile {
  margin: 1rem 0 2.375rem;
}

.italic {
  font-family: "Playfair Italic", "serif";
}

.status {
  font-family: "Roboto", "sans-serif";
  font-size: 0.875rem;
  text-transform: lowercase;
  line-height: 1;
  color: #575757;
}

.status::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.6875rem;
  border-radius: 50%;
}

.status.avaliable::before {
  background-color: #b2e08d;
}

.status.not-avaliable::before {
  background-color: #ff867c;
}

.status.preparing::before {
  background-color: #90b1ca;
}

.field {
  width: 100%;
}

.field:not(:first-child) {
  margin-top: 1.25rem;
}

.field--medium {
  width: 17.5rem;
}

.field--short {
  width: calc(50% - .6875rem);
}

.label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.6;
}

.label--radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label--radio::before,
.label--radio::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #E3DED2;
  border-radius: 3px;
  margin-right: 14px;
  transition: all .3s;
}

.label--radio::before {
  background: #AEAEAE;
  opacity: .16;
}

.label--radio::after {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #E3DED2;
}

.radio:checked + .label--radio::before {
  content: url(../img/profile/radio.svg);
  justify-content: center;
  background: #184240;
  border-color: transparent;
  opacity: 1;
}

.radio:checked + .label--radio::after {
  opacity: 0;
}

.input,
.textarea {
  width: 100%;
  padding: 0 .8rem;
  border: 1px solid #AEAEAE;
  font-family: "Roboto", "sans-serif";
  transition: border-color .3s;
}

.input:focus,
.textarea:focus {
  border-color: #184240;
}

.input {
  height: 2.5rem;
}

.textarea {
  height: 7.85rem;
  padding: .8rem;
  resize: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea--high {
  height: 14.625rem;
}

.profile__header {
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
  padding: 1.9375rem 3.75rem 2.25rem 2.3125rem;
  overflow: hidden;
  border-radius: 12px;
  background: #E3DED2;
  margin-bottom: 3.1875rem;
}

.profile__header-title {
  color: #8D9A9A;
  margin-bottom: 2.0625rem;
}

.profile__header-title > span {
  color: #184240;
}

.profile__row {
  justify-content: space-between;
  font-family: "Roboto", "sans-serif";
}

.profile__info {
  display: flex;
  font-size: 1.125rem;
}

.profile__info-item:not(:last-child) {
  margin-right: 6.25rem;
}

.profile__info-title {
  color: #8D9A9A;
}

.profile__info-title:not(:last-child) {
  margin-right: .5rem;
}

.profile__container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
}

.profile__container--wide {
  width: 100%;
  padding-left: 7.3125rem;
}

.profile__container--wide > .profile__content {
  width: 100%;
}

.profile__nav {
  width: 12.625rem;
  margin-right: 8.125rem;
}

.profile__link {
  display: block;
  width: fit-content;
  font-family: "Roboto", "sans-serif";
  font-size: 1.125rem;
}

.profile__link::after {
  background-color: #184240;
}

.profile__link:not(:last-child) {
  margin-bottom: 1.25rem;
}

.profile__content {
  width: calc(100% - 20.75rem);
}

.profile__content--medium {
  max-width: 874px;
}

.profile__back {
  position: absolute;
  top: 0;
  left: 10px;
}

.profile__title {
  margin-bottom: 2rem;
}

.profile__form-row,
.profile__form-header {
  max-width: 918px;
}

.profile__form-row {
  display: flex;
  justify-content: space-between;
}

.profile__form-row:not(:last-child) {
  margin-bottom: 1.25rem;
}

.profile__form-column {
  width: calc(50% - .84375rem);
}

.profile__form-column--flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__form-title {
  margin-top: 2.5rem;
  margin-bottom: 1.6875rem;
}

.profile__form-content {
  box-sizing: border-box;
  padding-top: 1.4375rem;
  border-top: 1px solid #8D9A9A;
}

.profile__form-submit {
  width: 13.4375rem;
  height: 3.1875rem;
  margin-top: 1.875rem;
}

.profile__form--flex {
  display: flex;
  justify-content: space-between;
}

.profile__form--lines {
  box-sizing: border-box;
  padding-top: 1.5625rem;
  padding-bottom: 3rem;
  border-top: 1px solid #8D9A9A;
  border-bottom: 1px solid #8D9A9A;
}

.profile__btn {
  margin-top: 1.875rem;
}

.profile__pic-label {
  flex-direction: column;
  cursor: pointer;
}

.profile__pic-label > svg {
  margin-bottom: 1.1875rem;
}

.profile__pic-input {
  display: none;
}

.profile__address {
  width: 13.375rem;
  height: 2.5rem;
  margin-top: 1.875rem;
}

.profile__controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  font-family: "Roboto", "sans-serif";
  margin-bottom: 1.8125rem;
}

.profile__tabs {
  display: flex;
  align-items: flex-end;
}

.profile__tab:not(:last-child) {
  margin-right: .625rem;
}

.profile__date {
  display: flex;
}

.profile__date > * {
  width: 9.25rem;
}

.profile__date > *:not(:last-child) {
  margin-right: 1.1875rem;
}

.profile__date > .field:not(:first-child) {
  margin-top: 0;
}

.profile__date-btn {
  align-self: flex-end;
  height: 2.5rem;
}

.profile__date-btn:hover > span::after {
  opacity: 0;
}

.profile__date-btn > span {
  font-size: .75rem;
  font-weight: 400;
}

.profile__box {
  box-sizing: border-box;
  padding: 2rem 2rem 8.125rem;
  border: 1px solid #AEAEAE;
  border-radius: 14px;
  font-family: "Roboto", "sans-serif";
}

.profile__box:not(:last-child) {
  margin-bottom: 1.875rem;
}

.profile__box-header {
  position: relative;
  font-family: "Roboto", "sans-serif";
  font-size: 1.125rem;
}

.profile__box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1875rem;
  width: calc(100% - 1.875rem);
}

.profile__box-info > strong {
  color: #184240;
}

.profile__box-info--green {
  color: #219653;
}

.profile__box-info--orange {
  color: #F2994A;
}

.profile__box-info--blue {
  color: #2D9CDB;
}

.profile__box-close {
  top: 0;
  right: 0;
}

.profile__box-content {
  margin-top: 3rem;
}

.profile__box-title {
  margin-bottom: 1.375rem;
}

.profile__box-controls {
  margin-top: 3.3125rem;
}

.profile__box-controls > * {
  text-transform: uppercase;
}

.profile__box-controls > *:not(:last-child) {
  margin-right: 1rem;
}

.profile__box--return {
  padding: 2rem;
}

.profile__order-repeat,
.profile__order-swap {
  width: 12.6875rem;
  height: 2.5rem;
  border-radius: 36px;
}

.profile__order-repeat:hover > svg > path,
.profile__order-swap:hover > svg > path {
  fill: #FFF3E7;
}

.profile__order-repeat > svg,
.profile__order-swap > svg {
  transition: fill .3s;
  margin-right: .5rem;
}

.profile__submit {
  margin-top: 3.125rem;
  font-size: 1.125rem;
}

.profile__loyalty {
  counter-reset: loyalty-counter;
  font-family: "Roboto", "sans-serif";
}

.profile__loyalty-item {
  display: flex;
  box-sizing: border-box;
  padding: 2.5625rem 9.6875rem 2.1875rem 2.25rem;
  border-radius: 12px;
  background: #E3DED2;
  counter-increment: loyalty-counter;
}

.profile__loyalty-item::before {
  content: "0" counter(loyalty-counter);
  font-family: "Anglecia Pro", "serif";
  font-size: 1.5rem;
  margin-right: 1rem;
}

.profile__loyalty-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.profile__loyalty-content {
  font-size: 1.125rem;
}

.profile__loyalty-link {
  margin-top: 1.75rem;
}

.profile__steps {
  display: flex;
  width: 100%;
  max-width: 732px;
  counter-reset: steps-counter;
  margin-bottom: 3.5625rem;
}

.profile__step {
  display: flex;
  flex-direction: column;
  counter-increment: steps-counter;
}

.profile__step:not(:last-child) {
  width: 40%;
}

.profile__step:last-child {
  width: 20%;
}

.profile__step:not(:last-child) > .profile__step-num::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 73px;
  transform: translateY(-50%);
  display: block;
  width: calc(100% - 73px);
  height: 1px;
  background: #8D9A9A;
}

.profile__step-num {
  position: relative;
  margin-bottom: 1.25rem;
}

.profile__step-num::before {
  content: "0" counter(steps-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  background: #FFF3E7;
  border: 1px solid #AEAEAE;
  border-radius: 50%;
  font-family: "Anglecia Pro", "serif";
  font-size: 1.5rem;
}

.profile__step-text {
  max-width: 200px;
  font-family: "Roboto", "sans-serif";
  font-size: 1.125rem;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 13.5px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 12.5px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .title--profile {
    margin-bottom: 2rem;
  }

  .profile__header {
    margin-bottom: 1.8125rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}