@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    @extend %flexbox;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
}


.container {
    @extend %scrollbar;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 31.25rem;
    height: 100vh;
    padding: 0 1.875rem ;
    overflow: auto;
    background-color: $accent;
}

.header {
    @extend %flexbox;
    justify-content: space-between;
    height: 5rem;
    border-bottom: 1px solid rgba($gen, .3);
}
.body {
    padding: 0 1.875rem 1.875rem 1.875rem;
}
.close {
    @extend %close-btn;
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
    &_small {
        width: 1.625rem;
        height: 1.625rem;
    }
}


