@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.container {
  width: 50%;
}

.title {
  text-align: center;
}

.steps {
  @extend %flexbox;
  width: fit-content;
  margin: 5rem auto 0 auto;
  font-family: $font-service;
  font-size: 0.75rem;
  font-weight: 500;
  color: #A0A9A1;
}

.step {
    margin: 0 0.9375rem;
    opacity: 0.4;
    text-transform: uppercase;
    color: $gen;

    &_active {
        opacity: 1;
    }
    &:first-child {
        margin-left: 0;
    }
}

.form {
    width: 26.25rem;
    margin: 3.125rem auto 0 auto;
}

.submit {
    @extend %button--accent;
    width: 100%;
    height: 4rem;
    margin-top: 7.5rem;
    font-size: 1.125rem;
}