@import "/src/styles/root.scss";

.container {
    margin: 1.25rem 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: $lightest;
    &:hover {
        background-color: $gen;
        path {
            fill: $accent;
        }
    }
}