@import "/src/styles/root";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3px;
  border: 1px solid $lightest;
  background-color: rgba($grey, .16);
  &:focus {
    border-color: $gen;
  }
}

.arrow {
  opacity: 0;
}

.checked {
  background-color: $gen;
  border-color: $gen;
  .arrow {
    opacity: 1;
  }
}