@import "/src/styles/root.scss";
@import "/src/styles/mixins.scss";

.footer {
    background-color: $gen;
    color: $accent;
    padding: 7.5rem 0 3.125rem;
  
}

.container {
    display: flex;
    justify-content: space-between;
}
.block {
    width: 30rem;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link {
    color: $accent;
    font-family: $font-main;
    text-transform: none;
    width: 50%;
    margin-bottom: 1.875rem;
}
.title {
    @extend %underline;
    width: fit-content;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address {
    margin-bottom: 1.875rem;
    line-height: 2;
    font-family: $font-service;
    font-style: normal;
}
.contacts {
    width: 100%;
    a {
        display: block;
        width: fit-content;
        text-transform: none;
        &:not(:first-child) {
            margin-top: 1.25rem;
        }
    }
}
.contact {
    @extend %link;
    color: $accent;
    font-weight: 400;
    &::after {
        background-color: $accent;
    }
}

.mail {
    @extend %link;
    margin-top: 2.5rem;
    color: $accent;
    font-weight: 400;
    &::after {
        background-color: $accent;
    }
}

.corp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.125rem;
    padding-top: 3.125rem;
    border-top: 1px solid rgba($accent, .3);
    text-align: center;
    font-family: $font-service;
    span {
        display: block;
        font-size: 0.875rem;
        line-height: 1.4;
    }
}

.logo {
    width: 4.875rem;
    & svg {
        width: 100%;
    }
}