@import "/src/styles/mixins.scss";
@import "/src/styles/root.scss";

.wrapper {
   @extend %header-nav;
   position: relative;
   width: 100%;
}

.bottom {
   order: 1;
}

.top {
   order: -1;
}

.full {
   width: 100%;
   justify-content: space-between;
   margin-top: 3.125rem;
}

.container {
   @extend %flexbox;
   font-family: $font-numbers;
}

.link {
   @extend %link;
   position: absolute;
   margin-top: 0.7rem;
   font-family: $font-service--bold;
}

.center {
   left: 50%;
   transform: translateX(-50%);
}

.right {
   right: 20%;
}
